@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
*,
body {
    font-family: "Poppins", sans-serif;
}
.title {
    color: rgb(19, 53, 109);
    text-align: inherit;
    line-height: 43px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 49px;
    border-color: rgb(163, 163, 163);
    border-style: none;
}

.btn-gth-blue {
    background-color: #13356d;
    color: #7bffb6;
}
.btn-gth-blue:hover {
    background-color: #7bffb6;
    color: #13356d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* animation: bounce; */
    /* animation-duration: 2s;  */
}
.neo-panel-undo {
    border-radius: 15px;
    background: #ebf1f4;
    box-shadow: inset 14px 14px 28px #c8cdcf, inset -14px -14px 28px #ffffff;
    border: 1px solid #ccc;
}
.neo-panel {
    border-radius: 15px;
    background: linear-gradient(225deg, #fbffff, #d4d9dc);
    box-shadow: -13px 13px 26px #c5cacd, 13px -13px 26px #ffffff;
    border: 1px solid #ccc;
}
.shadow-card-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.shadow-card-1:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        1px 0px 50px -11px rgba(123, 255, 182, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        1px 0px 50px -11px rgba(123, 255, 182, 0);
}
.logo-gth {
    width: 60px;
    animation: zoomIn;
    animation-duration: 2s;
}
.link-show-course,
a.link-show-course:link,
a.link-show-course :visited,
a.link-show-course :active {
    text-decoration: none;
    color: #000000;
}

.header-course {
    padding: 20px;
    background: #f7f7f7;
}
