@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
*,
body {
    font-family: "Poppins", sans-serif;
}
.title {
    color: rgb(19, 53, 109);
    text-align: inherit;
    line-height: 43px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 49px;
    border-color: rgb(163, 163, 163);
    border-style: none;
}

.btn-gth-blue {
    background-color: #13356d;
    color: #7bffb6;
}
.btn-gth-blue:hover {
    background-color: #7bffb6;
    color: #13356d;
    /* animation: bounce; */
    /* animation-duration: 2s;  */
}

.shadow-card-1:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        1px 0px 50px -11px rgba(123, 255, 182, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        1px 0px 50px -11px rgba(123, 255, 182, 0);
}
.logo-gth {
    width: 60px;
    animation: zoomIn;
    animation-duration: 2s;
}
